<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <% if logged_in? %>
          <li class='nav-item'>
            <%= link_to "User", edit_user_path(current_user), class: 'nav-link' %>
          </li>
          <li class='nav-item'>
            <%= link_to "Log out", logout_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class='nav-item'>
            <a style='cursor: pointer' class='nav-link' data-toggle="modal" data-target="#login">
              Đăng nhập
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a href="#nav-login" class="nav-item nav-link active" id='nav-login-tab' data-toggle='tab' role='tab' aria-controls='nav-login' aria-selected='true'>
              Đăng nhập
            </a>
            <a href="#nav-register" class="nav-item nav-link" id="nav-register-tab" data-toggle='tab' role='tab' aria-controls='nav-register' aria-selected='false'>Đăng ký</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-login" role='tabpanel' aria-labelledby='nav-login-tab'>
            <%= form_for :session, url: login_path do |f| %>
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
              <br>
              <center>
                <%= f.submit "Đăng nhập", class: 'btn btn-primary' %>
              </center>
            <% end %>
          </div>
          <div class="tab-pane fade" id="nav-register" role='tabpanel' aria-labelledby='nav-register-tab'>
            <%= form_for :user, url: signup_path do |f| %>
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>

              <%= f.label :fullname %>
              <%= f.text_field :fullname, class: 'form-control' %>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>

              <%= f.label :password_confirmation, "Nhập lại mật khẩu" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
              <br>
              <center>
                <%= f.submit "Đăng ký", class: 'btn btn-primary' %>
              </center>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>