<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/shop/header' %>
    <br>
    <br>
    <div class='container'>
      <div class='row'>
        <%= render 'layouts/shop/sidebar' %>
        <div class='col-lg-9'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
